
<c-col class="bg-white shadow-lg shadow-gray-200 rounded-2xl p-5 w-50 h-75 cbg2">
  <c-card class="mb-5 ">
    <c-card-body >
      <form class="flex flex-col">

        <label > WITHDRAW</label>
        <select class ="bg-white border mt-2 mb-5 rounded-lg" name="from_curr" id="from_curr">
          <option value="GHS">GHS</option>
        </select>

        <label > Amount</label>
        <input class ="bg-white border mt-2 mb-5 rounded-lg" type="number" />

        <label > Bank Account</label>
        <select class ="bg-white border mt-2 mb-6  rounded-lg" name="account" id="account">
          <option value="account1">account1</option>
          <option value="account2">account2</option>
        </select>


        <button  type="submit" class="bg-black rounded-full btn1bg"  name="withdrawbtn"><b>Purchase</b></button>

      </form>



    </c-card-body>
  </c-card>
</c-col>

