<div class="h-screen flex justify-center  w-full items-center main ">


<form (ngSubmit)="submit()" class="flex flex-col">
  <h1 >Welcome back!</h1>
  <p >Please fill in your credentials to continue</p>

<label>Email</label>
<input class="border border-black" [(ngModel)]="form.email" type="text" id="email" name="email"/>

<label>Password</label>
<input class="border border-black" type="password" id="password"  [(ngModel)]="form.password"  name="password"/>



<button type="submit"  name="loginbtn">Login</button>

</form>

</div>
