
  <c-col class="bg-white shadow-lg shadow-gray-200 rounded-2xl p-4 w-64 h-48">
    <c-card class="mb-4">
      <c-card-body >
        <div class="">
          <i class="fa-solid fa-circle-dollar">Dollar</i>
        </div>
        <div class="">
          <p cCardText>
            Some quick example text to build on the card title and make up the bulk of the card's content.
          </p>

        </div>


        <button cButton color="primary" variant="outline"type="submit">Go somewhere</button>
      </c-card-body>
    </c-card>
  </c-col>

